robotframework
selenium==4.9.1
robotframework-seleniumlibrary==6.7.1
webdriver-manager==4.0.2
robotframework-requests==0.9.7
robotframework-databaselibrary==2.2.0
robotframework-jsonlibrary==0.5
pyyaml
openpyxl
robotframework-excellib
robotframework-browser